<div>
  <h1>Login</h1>
</div>

<div id="colorstrip2"/>

<div id="reg">
<%= form_tag '/user_login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

</div>
