<div id="menu_bar">
  <ul>
    <li><a href="/"><h1>About</h1></a></li>
    <li><a href="user_about"><h3>About</h3></a></li>
    <li><a href="/user_login"><h3>Login</h3></a></li>
    <li><a href="/user_new"><h3>Register</h3></a></li>
  </ul>
</div>
<div id="colorstrip"/>

<div id="about">
  <p>This is a Ruby on Rails project that demonstrates: </p>
  <p>* the use of CRUD </p>
  <p>* integration of an external API</p>
  <p> The site uses the postcode API for managing the translation of postcodes into suburbs and vice versa as well as providing a radius of surrounding suburbs.
      The site is the first part of a minimum viable product being tested for application with users.</p>
</div>
