<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tribe</title>
</head>
<body>
    <div id="menu_bar">
      <ul>
        <li><a href="/"><h1>Tribe</h1></a></li>
        <li><a href="user_about"><h3>About</h3></a></li>
        <li><a href="/user_login"><h3>Login</h3></a></li>
        <li><a href="/user_new"><h3>Register</h3></a></li>
      </ul>
    </div>
  <div class="front_image">
    <%= image_tag("orange-people-silhouettes.jpg") %>
    <p id="front_text">Tribe helps you find people near your home who have the same interests as you with the aim of getting people to meet and form local groups</p>
  </div>
</body>
</html>
