<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tribe</title>
</head>
<body>
    <div class="menu_bar">
      <ul>
        <li><a href="users/about"><h3>About</h3></a></li>
        <li><a href="/users/login"><h3>Login</h3></a></li>
        <li><a href="/users/new"><h3>Register</h3></a></li>
        <li><a href="/"><h3>Home</h3></a></li>
        <li id="tribe"><a href="/"><h1>Tribe</h1></a></li>
      </ul>
    </div>
  <div class="front_image">
    <p id="front_text">Tribe helps you find people near your home who have the same interests as you with the aim of getting people to meet and form local groups</p>
  </div>
</body>
</html>
